code/slprj
*.lin
*.mdl
*.slxc
simulations/
WindFiles/
weis_control_opt/
presentation/
paper/
*/.zip
.DS_STORE
*.asv
ss_simulations/
simulations/
sl_outputs
controller_simulations/
postprocessing/.idea
*.outb
*.out
simulink_models/slprj/
code/matfiles/*.mat
SOAR-25-V2f_IF/linearization
sl_metadata
nonlin_simulations
